<div class="h-100 container mt-2">
  <!-- Search bar -->
  <div class="row mt-2">
    <div class="col-12">
      <mat-card>
        <mat-form-field style="width: 100%;">
          <input matInput type="text" [(ngModel)]="filterText" (ngModelChange)="onFilterChanged()"
                 placeholder="Type here to filter by title..." style="width: 100%;">
        </mat-form-field>
      </mat-card>
    </div>
  </div>

  <!-- CAFF list -->
  <div class="row mt-2">
    <div class="col-12 col-md-4 my-2" *ngFor="let caff of filteredCaffs">
      <mat-card (click)="onListElementClicked(caff.id)">
        <mat-card-title>{{caff.title}}</mat-card-title>
        <img mat-card-image class="mt-2 px-3" src="{{caff.preview}}" alt="CAFF preview image">
      </mat-card>
    </div>
  </div>
</div>
