<div class="h-100 container mt-2">
  <!-- Search bar and upload button -->
  <div class="row my-2">
    <div class="col-9 col-md-11">
      <mat-card>
        <mat-form-field style="width: 100%;">
          <input (ngModelChange)="onFilterChanged()" [(ngModel)]="filterText" matInput placeholder="Type here to filter by title..."
                 style="width: 100%;" type="text">
        </mat-form-field>
      </mat-card>
    </div>

    <div class="col-3 col-md-1 my-auto">
      <button (click)="onUploadButtonClicked()" class="w-100" color="primary" mat-raised-button>Upload</button>
    </div>
  </div>

  <!-- CAFF list -->
  <div class="row mt-2">
    <div *ngFor="let caff of filteredCaffs" class="col-12 col-md-4 my-2">
      <mat-card (click)="onListElementClicked(caff.id)">
        <mat-card-title>{{caff.title}}</mat-card-title>
        <img alt="CAFF preview image" class="mt-2 px-3" mat-card-image
             src="{{caff.previewImage | async}}">
      </mat-card>
    </div>
  </div>
</div>
