<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 class="mx-2" fxShow="true" routerLink="/">Sports & Friends</h1>
      <div class="w-100" fxLayout="row" fxLayoutAlign="space-between">
        <div>
          <ng-container *ngFor="let item of menu">
            <a *ngIf="authService.hasRightToAccess(item.authority)" [routerLink]="[item.route]" class="mx-2 menu-item"
               mat-button>{{item.label}}
            </a>
          </ng-container>
        </div>
        <a *ngIf="authService.isUserLoggedIn" class="mx-2 menu-item" mat-button matTooltip="Logout"
           routerLink="/logout">
          <mat-icon>exit_to_app</mat-icon>
        </a>
        <a *ngIf="!authService.isUserLoggedIn" class="mx-2 menu-item" mat-button matTooltip="Login" routerLink="/login">
          Login
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
