<div class="h-100 container mt-2">
  <!-- CAFF details -->
  <mat-card>
    <!-- Card title -->
    <mat-card-header>
      <mat-card-title>{{caff?.title}}</mat-card-title>
    </mat-card-header>

    <!-- Card body -->
    <mat-card-content>
      <div class="row">
        <!-- Preview image -->
        <div class="col-12 col-md-7 text-center">
          <img alt="CAFF preview image" [src]="caffPreview | async" style="object-fit: cover; width: auto; height: 25em;">
        </div>

        <!-- Details table -->
        <div class="col-12 col-md-5">
          <mat-table [dataSource]="detailsData" style="width: 100%;">
            <ng-container matColumnDef="key">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.key}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="value">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.value}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <div class="row mt-3">
            <div class="col-6">
              <button (click)="onBackButtonClicked()" class="w-100" mat-raised-button>
                Back
              </button>
            </div>
            <div class="col-6" *ngIf="showPurchaseButton">
              <button (click)="onPurchaseButtonClicked()" class="w-100" color="primary" mat-raised-button>
                Purchase
              </button>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6" *ngIf="showTitleEditButton">
              <button (click)="onEditTitleButtonClicked()" mat-raised-button class="w-100" color="accent">
                Admin: Edit title
              </button>
            </div>
            <div class="col-6" *ngIf="showDeleteButton">
              <button (click)="onDeleteFileButtonClicked()" mat-raised-button class="w-100" color="accent">
                Admin: Delete file
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Comments-->
  <app-comments [caffId]="caff?.id"></app-comments>
</div>
